body{
    background-color: #495E46;
}
section{
    background-color: transparent;
    background-clip: text;
    color: #89DF7C;
  }
ul>li{
        background-color: transparent;
        background-clip: text;
        color: #89DF7C;     
}